<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Football</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/details.css">
        <link rel="stylesheet" href="/static/css/teams.css">
    </head>

    <body>
        <div class="icon-bar">
            <a href="#" class="active"><i class="fa fa-home"></i></a>
            <a class="header">Football app</a>
        </div>

        <div class="Details">
            <ul>
                <li>Team Name: Barcelona</li>
                <li>Team Abbr: BAR</li>
                <li>Stadium: Camp Nou</li>
            </ul>
        </div>

        <table class="table">
            <tr>
                <th>Player</th>
                <th>Number</th>
                <th>Nationality</th>
            </tr>
            <tr>
                <td><a href='#'>Lionel Messi</a></td>
                <td>10</td>
                <td>Argentina</td>
            </tr>
            <tr>
                <td><a href='#'>Luiz Suarez</a></td>
                <td>9</td>
                <td>Uruguay</td>
            </tr>
            <tr>
                <td><a href='#'>Chelsea</a></td>
                <td>CHE</td>
                <td>Premire League</td>
            </tr>
            <tr>
                <td><a href='#'>Real Madrid</a></td>
                <td>REA</td>
                <td>Liga BBVA</td>
            </tr>
            <tr>
                <td><a href='#'>Juventus</a></td>
                <td>JUV</td>
                <td>Some League</td>
            </tr>
        </table>
    </body>
</html>