<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Player</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/details.css">
        <link rel="stylesheet" href="/static/css/teams.css">
    </head>

    <body>
        <div class="icon-bar">
            <a href="#" class="active"><i class="fa fa-home"></i></a>
            <a class="header">Football app</a>
        </div>

        
        <h3 class="heading">Player Name: {{players.name}}</h3>

        <div class="details">
            <ol>
                <li>PlayerID: {{players.playerID}}</li>
                <li>position: {{players.position}}</a></li>
                <li>Shirt Number: {{players.shirtNum}}</li>
                <li>Country: {{players.country}}</li>
                <li>Birthday: {{players.birthDate}}</li>
            </ol>
        </div>